# Load the Nix flake dev shell automatically when entering this directory.
# Requires direnv (https://direnv.net) and nix-direnv
# (https://github.com/nix-community/nix-direnv) to be installed.
use flake

# If you don't have nix-direnv's `use flake` integration, uncomment the
# fallback below instead and comment out the line above:
# eval "$(nix print-dev-env --impure --expr '(builtins.getFlake (toString ./.)).devShells.${NIX_CURRENT_SYSTEM:-x86_64-linux}.default')"
